# --- User / host ---
# Run `id` on the host to find these. Owner of /mnt/data must match.
PUID=1000 #change this to your user's UID
PGID=1000 #change this to your user's GID
TZ="America/New_York" #change 


# Host path that contains media/ and downloads/ subdirs.
# Must be a single mount so hardlinks work between downloads and library.
USER_DIR="home/abc"
DOCKER_DIR="home/abc/docker"
DATA_ROOT=/mnt/data


# --- Tailscale ---
# Run `tailscale ip -4` on the host. All service ports bind to this IP only.
TAILSCALE_IP=100.x.y.z


#Plex
PLEX_PASS=true # change to false if you do not have plex pass
PLEX_CLAIM=# enter plex claim token here
PLEXMEDIA=/path/to/your/media/libraries # change
PLEX_ADVERTISE_IP=http://yourServerIP:32400 # change to include your actual IP


# --- Ports ---
PROWLARR_PORT=4000
SONARR_PORT=4000
RADARR_PORT=4000


# --- Image tags ---
# Pin these before production use. Defaults shown only for quick start.
# Find current versions: https://github.com/linuxserver/docker-<service>/releases
GLUETUN_TAG=latest
NZBGET_TAG=latest
PROWLARR_TAG=latest
SONARR_TAG=latest
RADARR_TAG=latest
BAZARR_TAG=latest
PLEX_TAG=latest
SEERR_TAG=latest